<div class="row my-3 justify-content-center">
    <div class="col-10 col-sm-6 col-md-3 order-2 order-sm-1">
        <select class="form-select p-1" (change)="search($event)" style="height: 100%; width: 100%;">
            <option selected value="all">All courses</option>
            <option value="my-courses">My courses</option>
            <option value="other-courses">Courses other instructors</option>
            <option value="highest-rated">Highest Rated</option>
            <option value="price">Sort by price low to high</option>
        </select>
    </div>
    <div class="col-10 col-sm-6 col-md-3 order-1 order-sm-2 mb-3 mb-sm-0">
        <input type="text" class="form-control" placeholder="Search by course name" [(ngModel)]="value">
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <app-modal id="custom-modal">
            <app-my-courses></app-my-courses>
            <button class="btn btn-secondary mx-auto m-1" (click)="closeModal('custom-modal')">Close</button>
        </app-modal>
    <app-course-card [courses$]="courses$ | pagination: page : itemsPerPage | filter: value: 'courseName'"></app-course-card>
</div>

<app-pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalCourses" (pageChange)="onPageChange($event)"></app-pagination>