@import '../../../../colors';

.card-custom {
    width: 25%;
};

.card-custom > div {
    height: calc(100% - 16px);
};

@media (max-width: 768px) {
	.card-custom {
        width: 50%;
    };
};

@media (max-width: 576px) {
	.card-custom {
        width: 80%;
        margin: auto;
    };
};