<form *ngIf="instructor$" [formGroup]="aboutMeForm" (ngSubmit)="update()">
    <div class="row">
        <div class="col-12">
            <h6 class="mb-2 text-primary">About me</h6>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="profession" class="form-label">Profession</label>
                <input type="text" class="form-control" id="profession"
                name="profession" formControlName="profession"
                >
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="about-me" class="form-label">About me</label>
                <textarea class="form-control" id="about-me" rows="7"
                name="aboutMe" formControlName="aboutMe"
                ></textarea>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="form-group">
                <button *ngIf="!edit" type="button" class="btn btn-primary" (click)="onEdit()">Edit</button>
                <button *ngIf="edit" type="submit" class="btn btn-primary" [disabled]="!aboutMeForm.valid">Update</button>
            </div>
        </div>
    </div>
</form>