<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-muted">{{ cart$?.length || '0' }} Courses in Cart</h3>
        </div>
    </div>
    <div *ngIf="cart$.length == 0 || cart$ == undefined" class="row">
        <div class="col-8 text-center offset-2 custom-cart">
            <i class="fas fa-shopping-cart cart mb-2"></i>
            <p class="text-muted">Your cart is empty. Keep shopping to find a course!</p>
            <button class="btn btn-info" type="button" routerLink="/">Keep shopping</button>
        </div>
    </div>
    <div class="row text-center text-sm-left justify-content-center" *ngIf="cart$.length !==0">
        <div class="col-10 col-sm-12 order-2 order-md-1 col-md-8 col-lg-9">
            <div class="card mb-3" *ngFor="let item of cart$; let i = index">
                <div class="row align-items-center p-2">

                    <div class="col-12 col-sm-4 col-md-6  col-lg-2 ">
                        <img [src]="item.image"
                            alt="course-image" class="img-thumbnail">
                    </div>

                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <h3 class="card-title">{{ item.courseName }}</h3>
                        <p class="card-text">Created by {{ item.firstName }} {{ item.lastName }}</p>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-2">
                        <p class="card-text">
                            <small class="text-muted">
                                <i class="far fa-calendar-check text-success"></i> {{ item.addedToCart | date: 'short'}}
                            </small>
                        </p>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-2">
                        <div class="font-weight-bold">{{ item.price | currency }} <i
                                class="fas fa-tag text-success"></i></div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-2 text-center">
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="removeFromCart(item.cartId, i)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 order-1 order-md-2 col-sm-9 col-md-4 col-lg-3 mb-4 mb-md-0">
            <div class="card">
                <div class="card-body">
                    <div>Total: </div>
                    <span class="price">{{ total | currency }}</span>
                    <button class="btn btn-success w-100" (click)="buyCourse()">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>