.user-img {
    width: 50%;
}

td {
    vertical-align: middle;
    width: 12.5%;
}

app-modal {
    display: none;

    .custom-btn {
        width: 20%;
        display: block;
        margin: 1em auto;
    }
}
