<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course name</th>
            <th scope="col">Instructor Full Name</th>
            <th scope="col">Added</th>
            <th scope="col">Rating</th>
            <th scope="col">Language</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of allCourses$; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ course.courseName }}</td>
            <td>{{ course.instrFullName }}</td>
            <td>{{ course.added | date: 'short' }}</td>
            <td>{{ course.courseRating }}</td>
            <td>{{ course.language }}</td>
            <td>{{ course.price | currency }}</td>
            <td><i class="fas fa-book-open actions" (click)="read('course-modal', course)"></i>
                <i class="far fa-trash-alt actions" (click)="deleteCourse(course.courseId, i)"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
  <app-modal id="course-modal">
      <app-selected-course [course]="selectedCourse"></app-selected-course>
    <button class="btn btn-secondary custom-btn" (click)="closeModal('course-modal')">Close</button>
  </app-modal>