<div class="card course-card">
    <div class="card-body">
        <form [formGroup]="courseForm" (ngSubmit)="edit ? updateCourse() : createCourse()">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="courseName" class="form-label">Course name</label>
                        <input type="text" class="form-control" id="courseName" placeholder="Enter a course name"
                        name="courseName" formControlName="courseName">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="image" class="form-label">Course image</label>
                        <input type="text" class="form-control" id="image" placeholder="Enter url of image"
                        name="image" formControlName="image">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="language" class="form-label">Language</label>
                        <input type="text" class="form-control" id="language" placeholder="Enter a language"
                        name="language" formControlName="language">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" placeholder="Enter a price"
                        name="price" formControlName="price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" rows="5" class="desc"
                        name="description" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div formArrayName="content"
            *ngFor="let lessonData of content['controls']; let i = index">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <label for="lesson" class="form-label">Lesson {{ i+1 }}</label>
                            <input type="text" class="form-control" id="lesson" placeholder="Enter a name of lesson"
                            name="lesson" [formControlName]="i">
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <a class="remove-icon" (click)="deleteLesson(i)"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" (click)="addLesson()">Add lesson</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{{ edit ? 'Update course' : 'Create course' }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
